<a href="https://colab.research.google.com/github/Sanj-R/Mammogram-Investment-Analysis---2nd-Place---Rice-Datathon-2023/blob/main/Datathon1/all_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# NOTE COMMENTS WERE ADDED AFTER THE COMPETITION. OTHER MINOR POST-COMPETITION CHANGES ARE ACCOMPANIED BELOW BY ALL-CAPS COMMENTS.

In [5]:
import pandas as pd

In [6]:
# Read list of mammogram facilities and census data.

cfs = pd.read_csv('beginner.csv')
census = pd.read_csv('sc-est2019-agesex-civ.csv')

In [7]:
# Look at mammogram facilities dataset.

cfs

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Ohana Memorials Mammography Services,1515 W Yakima Ave.,NaN,NaN,Yakima,WA,98902,509574-3863,509249-5319,NaN,NaN,NaN,NaN
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NaN,Air Post Office,AE,9604,3.90434E+11,3904343,NaN,NaN,NaN
2,35th Medical Group Misawa AB Japan,Unit 5024,NaN,NaN,APO,AP,96319-5300,8.13118E+11,8117677,NaN,NaN,NaN,NaN
3,374th MDG Unit 5225 SGCR Yokota AB APO AP 96328,Unit 5225 SGCR,374th Medical Group,NaN,APO,AP,96328,425522510,425302026,NaN,NaN,NaN,NaN
4,375th Medical Group,310 W Losey St.,NaN,NaN,Scott AFB,IL,62225-5252,618256-1494,618256-7253,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,Zwanger-Pesiri Radiology,160 Brentwood Road,NaN,NaN,Bay Shore,NY,11706,631444-5544,631666-9168,NaN,NaN,NaN,NaN
8807,Zwanger-Pesiri Radiology,803-F Montauk Highway,NaN,NaN,Shirley,NY,11967,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8808,Zwanger-Pesiri Radiology,1729 N Ocean Ave,NaN,NaN,Medford,NY,11763,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8809,Zwanger-Pesiri Radiology Group,759 Montauk Hwy.,NaN,NaN,West Islip,NY,11795,516798-42426001,631870-8732,NaN,NaN,NaN,NaN
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NaN,NaN,Lindenhurst,NY,11757,631444-5544,631225-9550,NaN,NaN,NaN

In [8]:
cfs.columns

Index(['Facility Name', 'Address 1', 'Address 2', 'Address 3', 'City', 'State',
       'Zip Code', 'Phone', 'Fax', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

In [9]:
cfs['Unnamed: 9']

0               NaN
1           3904343
2               NaN
3               NaN
4               NaN
           ...
8806            NaN
8807            NaN
8808            NaN
8809            NaN
8810    631225-9550
Name: Unnamed: 9, Length: 8811, dtype: object

In [10]:
# Make list of all US state abbreviations.

state_abbs = ['AK'
,'AL'
,'AR'
,'AZ'
,'CA'
,'CO'
,'CT'
,'DE'
,'FL'
,'GA'
,'HI'
,'IA'
,'ID'
,'IL'
,'IN'
,'KS'
,'KY'
,'LA'
,'MA'
,'MD'
,'ME'
,'MI'
,'MN'
,'MO'
,'MS'
,'MT'
,'NC'
,'ND'
,'NE'
,'NH'
,'NJ'
,'NM'
,'NV'
,'NY'
,'OH'
,'OK'
,'OR'
,'PA'
,'RI'
,'SC'
,'SD'
,'TN'
,'TX'
,'UT'
,'VA'
,'VT'
,'WA'
,'WI'
,'WV'
,'WY']

In [11]:
# Store column labels in mammogram facilities dataset.

cfs_cols = ['Facility Name', 'Address 1', 'Address 2', 'Address 3', 'City', 'State',
       'Zip Code', 'Phone', 'Fax', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12']

In [12]:
cfs['Facility Name']

0                  Ohana Memorials Mammography Services
1                            31 Medical Group Aviano AB
2                    35th Medical Group Misawa AB Japan
3       374th MDG Unit 5225 SGCR Yokota AB APO AP 96328
4                                   375th Medical Group
                             ...
8806                           Zwanger-Pesiri Radiology
8807                           Zwanger-Pesiri Radiology
8808                           Zwanger-Pesiri Radiology
8809                     Zwanger-Pesiri Radiology Group
8810                     Zwanger-Pesiri Radiology Group
Name: Facility Name, Length: 8811, dtype: object

In [13]:
# In the mammogram facilities dataset, check how many state abbrevs. are (incorrectly) in non-state columns, and in which columns.
# Also check if a row ever contains multiple state abbrevs..
# This helps understand two types of error in the dataset, which is important since we will need the state abbrev. data later.

d = {}
iis = {}
cnt = 0
for col in cfs_cols:
    d[col] = []
    for i in range(0, 8811):
        ele = cfs[col].iloc[i]
        if ele in state_abbs:
            # Log the column (col),  row (i), state abbrv. (ele) in which the state abbrev. was found.
            d[col].append((i, ele))
            iis[i] = iis.get(i, 0) + 1
            # If a state abbrev. is in a non-state column, increment cnt.
            if col != 'State':
                cnt += 1
# Print the locations and abbrevs. of the state abbrevs. in the dataset.
for k in d:
    print(k)
    print(d[k][:100]) # NOTE ADDED [:100] POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
bool = False
# If any row has multiple state abbrevs., print True.
for k in iis:
    if iis[k] > 1:
        bool = True
        print(True)
# Otherwise, print False.
if bool == False:
    print(False)
# Print the number of states in non-state columns.
print('total messed up states', cnt)

Facility Name
[]
Address 1
[]
Address 2
[]
Address 3
[]
City
[]
State
[(0, 'WA'), (4, 'IL'), (6, 'IL'), (9, 'OH'), (10, 'NC'), (12, 'NY'), (13, 'SC'), (14, 'LA'), (16, 'TN'), (18, 'PA'), (19, 'PA'), (20, 'PA'), (21, 'PA'), (22, 'LA'), (24, 'LA'), (25, 'FL'), (26, 'FL'), (27, 'AZ'), (30, 'IA'), (31, 'OH'), (32, 'IN'), (33, 'MA'), (34, 'OH'), (35, 'OH'), (36, 'OH'), (37, 'OH'), (38, 'NY'), (39, 'NY'), (40, 'TX'), (41, 'FL'), (42, 'FL'), (45, 'VA'), (47, 'MT'), (48, 'MT'), (49, 'MT'), (50, 'CA'), (51, 'CA'), (53, 'FL'), (54, 'AL'), (55, 'AL'), (56, 'PA'), (57, 'MT'), (59, 'TX'), (60, 'IN'), (61, 'NE'), (62, 'CA'), (63, 'NJ'), (68, 'MD'), (69, 'MD'), (71, 'MD'), (73, 'MD'), (76, 'MD'), (77, 'MD'), (78, 'MD'), (80, 'CT'), (81, 'CT'), (82, 'CT'), (85, 'MD'), (88, 'MD'), (89, 'CT'), (91, 'GA'), (94, 'CT'), (95, 'NY'), (96, 'KS'), (97, 'FL'), (98, 'FL'), (99, 'FL'), (100, 'FL'), (101, 'FL'), (102, 'IL'), (103, 'FL'), (104, 'FL'), (105, 'FL'), (106, 'TX'), (107, 'WI'), (108, 'GA'), (109, 'NC'), (111, 'FL'), (112, 'FL'), (113, 'FL'), (114, 'FL'), (116, 'FL'), (117, 'KS'), (118, 'FL'), (119, 'FL'), (121, 'FL'), (122, 'FL'), (124, 'FL'), (126, 'FL'), (127, 'FL'), (128, 'NC'), (129, 'FL'), (130, 'FL'), (131, 'FL'), (132, 'FL'), (133, 'FL'), (134, 'FL'), (135, 'KY'), (136, 'GA'), (137, 'FL')]
Zip Code
[(5, 'MT'), (8, 'AZ'), (11, 'FL'), (15, 'MN'), (17, 'PA'), (23, 'MS'), (28, 'TX'), (29, 'TX'), (43, 'FL'), (44, 'FL'), (46, 'MD'), (52, 'IL'), (58, 'MT'), (65, 'MD'), (66, 'MD'), (67, 'MD'), (70, 'MD'), (72, 'MD'), (74, 'MD'), (75, 'MD'), (79, 'MD'), (83, 'FL'), (84, 'CA'), (86, 'MD'), (87, 'MD'), (90, 'NJ'), (92, 'GA'), (93, 'WV'), (110, 'FL'), (115, 'FL'), (120, 'FL'), (123, 'FL'), (125, 'FL'), (150, 'CA'), (166, 'CA'), (178, 'IL'), (179, 'IL'), (193, 'TX'), (194, 'TX'), (196, 'WI'), (197, 'MN'), (201, 'OK'), (205, 'PA'), (208, 'FL'), (211, 'PA'), (218, 'TX'), (219, 'TX'), (220, 'TX'), (221, 'TX'), (223, 'FL'), (224, 'FL'), (225, 'FL'), (232, 'FL'), (235, 'FL'), (236, 'FL'), (238, 'FL'), (241, 'FL'), (242, 'FL'), (247, 'FL'), (248, 'AL'), (250, 'NM'), (253, 'AK'), (254, 'NY'), (261, 'FL'), (265, 'CA'), (268, 'PA'), (289, 'MN'), (292, 'CA'), (305, 'NC'), (309, 'MD'), (312, 'MD'), (316, 'MA'), (321, 'IL'), (335, 'SC'), (349, 'RI'), (352, 'AL'), (354, 'CA'), (355, 'CA'), (360, 'VA'), (362, 'TX'), (364, 'TX'), (365, 'TX'), (369, 'CA'), (372, 'AZ'), (375, 'AZ'), (378, 'AZ'), (379, 'AZ'), (381, 'AZ'), (382, 'AZ'), (383, 'AZ'), (386, 'FL'), (399, 'OR'), (406, 'MI'), (408, 'MI'), (413, 'MI'), (446, 'IN'), (451, 'MI'), (462, 'IN'), (471, 'IN'), (482, 'KS')]
Phone
[(338, 'TX'), (363, 'TX'), (376, 'AZ'), (380, 'AZ'), (454, 'MI'), (636, 'TX'), (643, 'TX'), (702, 'AZ'), (707, 'AZ'), (811, 'MO'), (884, 'CT'), (915, 'MI'), (986, 'AL'), (994, 'MD'), (1022, 'SC'), (1128, 'CA'), (1204, 'NE'), (1216, 'TX'), (1218, 'TX'), (1219, 'TX'), (1253, 'CA'), (1340, 'NC'), (1787, 'MD'), (1788, 'MD'), (1892, 'TN'), (2000, 'DE'), (2043, 'CA'), (2066, 'AK'), (2100, 'FL'), (2110, 'FL'), (2111, 'GA'), (2114, 'MS'), (2222, 'NC'), (2253, 'NC'), (2315, 'CA'), (2321, 'NY'), (2355, 'GA'), (2384, 'OR'), (2420, 'WA'), (2433, 'OH'), (2523, 'IA'), (2584, 'WI'), (2657, 'FL'), (2864, 'HI'), (2865, 'HI'), (2866, 'HI'), (2945, 'TN'), (3041, 'CA'), (3056, 'NJ'), (3072, 'NC'), (3201, 'VA'), (3202, 'VA'), (3204, 'VA'), (3205, 'VA'), (3207, 'VA'), (3260, 'IN'), (3281, 'WA'), (3283, 'MA'), (3333, 'GA'), (3492, 'CA'), (3655, 'TX'), (3731, 'NY'), (3851, 'PA'), (3858, 'NY'), (3872, 'NY'), (3951, 'FL'), (3967, 'TX'), (4031, 'MD'), (4086, 'CA'), (4321, 'TX'), (4432, 'CA'), (4433, 'CA'), (4666, 'MN'), (4669, 'NV'), (4713, 'WI'), (4746, 'NY'), (4930, 'MA'), (5120, 'AZ'), (5311, 'TX'), (5315, 'FL'), (5325, 'FL'), (5326, 'GA'), (5331, 'IN'), (5399, 'FL'), (5512, 'OK'), (5632, 'WI'), (5736, 'VA'), (5836, 'TN'), (5944, 'RI'), (6013, 'NJ'), (6032, 'CT'), (6126, 'GA'), (6127, 'GA'), (6128, 'NJ'), (6164, 'PA'), (6173, 'NJ'), (6202, 'UT'), (6261, 'WY'), (6309, 'NY'), (6438, 'CA')]
Fax
[(337, 'IL'), (1657, 'NY'), (2192, 'LA'), (3198, 'NY'), (3199, 'NY'), (3979, 'NY'), (6276, 'NY'), (6554, 'FL'), (6599, 'OH'), (7612, 'GA'), (8059, 'CA'), (8796, 'NY')]
Unnamed: 9
[(5871, 'FL')]
Unnamed: 10
[]
Unnamed: 11
[]
Unnamed: 12
[]
False
total messed up states 1835

In [14]:
# Look at an unusual row where the state abbrev. is in an Unnamed column.

cfs[cfs['Unnamed: 9'] == 'FL']

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5871,Price,Hoffman,Stone and Associates,M.D.'s,P.A.,747 Sixth Ave. S,NaN,NaN,St. Petersburg,FL,33701,727898-3647,727823-3080

In [15]:
cfs.shape

(8811, 13)

In [16]:
cfs.dtypes

Facility Name    object
Address 1        object
Address 2        object
Address 3        object
City             object
State            object
Zip Code         object
Phone            object
Fax              object
Unnamed: 9       object
Unnamed: 10      object
Unnamed: 11      object
Unnamed: 12      object
dtype: object

In [17]:
# In the mammogram facilities dataset, count the number of zip-codes in each row.
# This investigates another type of dataset error: when a row has 0 or >1 zip-codes.

cnt = 0
numcodesini = {}
for col in cfs_cols:
    for i in range(0, 8811):
        ele = cfs[col].iloc[i]
        inone = False
        if type(ele) is str and ele.isdigit() and len(ele) == 5:
            #print('s', ele)
            cnt += 1
            inone = True
        if type(ele) is float and str(ele).isdigit() and len(str(ele)) == 5:
            #print('f', ele)
            cnt += 1
            inone = True
        # If a zip-code is found in a cell, increment the count for that row.
        if inone:
            numcodesini[i] = numcodesini.get(i, 0) + 1
# Check whether each row has 0 zip-codes or >1 zip-codes, printing the counts of these as c1, c2.
c1 = 0 # NOTE THIS LINE WAS ERRONEOUSLY INSIDE THE FOR LOOP DURING THE COMPETITION.
c2 = 0 # NOTE THIS LINE WAS ERRONEOUSLY INSIDE THE FOR LOOP DURING THE COMPETITION.
for i in range(0, 8811):
    if i not in numcodesini:
        #print('weird1', i) # NOTE COMMENTED THIS OUT POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
        #print(cfs.loc[[i]]) # NOTE COMMENTED THIS OUT POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
        c1 += 1
    elif numcodesini[i] != 1:
        #print('weird2', i) # NOTE COMMENTED THIS OUT POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
        #print(cfs.loc[[i]]) # NOTE COMMENTED THIS OUT POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
        c2 += 1
print(c1, c2)

1202 0

In [18]:
# Look at an unusual row where the facility is not in US.

cfs.loc[[1]]

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NaN,Air Post Office,AE,9604,3.90434E+11,3904343,NaN,NaN,NaN

In [19]:
# Count the number of state abbrevs. mentioned in the mammogram facilities dataset.
# We know each row doesn't have multiple state abbrevs., so we assume that if a state abbrev. is somewhere in a row, then it is from that state.
# Thus, we count the number of facilities in each state (ignoring rows without state abbrevs.).

statescnts = {}

for col in cfs_cols:
    for i in range(0, 8811):
        ele = cfs[col].iloc[i]
        if ele in state_abbs:
            statescnts[ele] = statescnts.get(ele, 0) + 1

print(statescnts)

# Sort state abbrev. counts in non-increasing order.
sorted_statescnts = []
for state, cnt in statescnts.items():
    sorted_statescnts.append((state, cnt))
sorted_statescnts.sort(key= (lambda x: x[1]))
sorted_statescnts.reverse()
for statecnt in sorted_statescnts:
    print(statecnt[0], statecnt[1])

{'WA': 149, 'IL': 335, 'OH': 333, 'NC': 270, 'NY': 550, 'SC': 110, 'LA': 145, 'TN': 192, 'PA': 343, 'FL': 628, 'AZ': 171, 'IA': 145, 'IN': 179, 'MA': 155, 'TX': 574, 'VA': 205, 'MT': 47, 'CA': 761, 'AL': 142, 'NE': 93, 'NJ': 247, 'MD': 132, 'CT': 114, 'GA': 277, 'KS': 109, 'WI': 215, 'KY': 144, 'OR': 108, 'HI': 37, 'AK': 33, 'MN': 210, 'NH': 44, 'OK': 116, 'MS': 99, 'UT': 64, 'NM': 46, 'ND': 48, 'MO': 159, 'ME': 48, 'AR': 83, 'CO': 138, 'MI': 271, 'WY': 30, 'SD': 48, 'NV': 69, 'DE': 30, 'ID': 49, 'WV': 64, 'VT': 15, 'RI': 34}
CA 761
FL 628
TX 574
NY 550
PA 343
IL 335
OH 333
GA 277
MI 271
NC 270
NJ 247
WI 215
MN 210
VA 205
TN 192
IN 179
AZ 171
MO 159
MA 155
WA 149
IA 145
LA 145
KY 144
AL 142
CO 138
MD 132
OK 116
CT 114
SC 110
KS 109
OR 108
MS 99
NE 93
AR 83
NV 69
WV 64
UT 64
ID 49
SD 48
ME 48
ND 48
MT 47
NM 46
NH 44
HI 37
RI 34
AK 33
DE 30
WY 30
VT 15

In [20]:
# Look at the census dataset.

census

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,AGE,ESTBASE2010_CIV,POPEST2010_CIV,POPEST2011_CIV,POPEST2012_CIV,POPEST2013_CIV,POPEST2014_CIV,POPEST2015_CIV,POPEST2016_CIV,POPEST2017_CIV,POPEST2018_CIV,POPEST2019_CIV
0,10,0,0,0,United States,0,0,3944160,3951430,3963092,3926570,3931258,3954787,3983981,3954773,3893990,3815343,3783052
1,10,0,0,0,United States,0,1,3978090,3957730,3966225,3977549,3942698,3948891,3973133,4002903,3972711,3908830,3829599
2,10,0,0,0,United States,0,2,4096939,4090621,3970654,3978925,3991740,3958711,3966321,3991349,4020045,3987032,3922044
3,10,0,0,0,United States,0,3,4119051,4111688,4101644,3981531,3991017,4005928,3974351,3982984,4006946,4033038,3998665
4,10,0,0,0,United States,0,4,4063186,4077346,4121488,4111490,3992502,4004032,4020292,3989750,3997280,4018719,4043323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13567,40,4,8,56,Wyoming,2,82,1103,1103,1107,1084,1106,1105,1037,1091,1126,1110,1166
13568,40,4,8,56,Wyoming,2,83,911,936,1028,1035,1002,1030,1031,954,1024,1047,1036
13569,40,4,8,56,Wyoming,2,84,894,883,880,1011,988,945,973,974,916,984,1006
13570,40,4,8,56,Wyoming,2,85,5624,5646,5731,5849,6042,6250,6371,6543,6741,6801,6863
13571,40,4,8,56,Wyoming,2,999,275794,276212,277554,281563,284372,284645,285849,285299,283137,282798,283502

In [21]:
census.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'SEX', 'AGE',
       'ESTBASE2010_CIV', 'POPEST2010_CIV', 'POPEST2011_CIV', 'POPEST2012_CIV',
       'POPEST2013_CIV', 'POPEST2014_CIV', 'POPEST2015_CIV', 'POPEST2016_CIV',
       'POPEST2017_CIV', 'POPEST2018_CIV', 'POPEST2019_CIV'],
      dtype='object')

In [22]:
census.dtypes

SUMLEV              int64
REGION              int64
DIVISION            int64
STATE               int64
NAME               object
SEX                 int64
AGE                 int64
ESTBASE2010_CIV     int64
POPEST2010_CIV      int64
POPEST2011_CIV      int64
POPEST2012_CIV      int64
POPEST2013_CIV      int64
POPEST2014_CIV      int64
POPEST2015_CIV      int64
POPEST2016_CIV      int64
POPEST2017_CIV      int64
POPEST2018_CIV      int64
POPEST2019_CIV      int64
dtype: object

In [23]:
# Rows regarding total population in US.

census[census['SUMLEV']==10].shape

(261, 18)

In [24]:
86*3

258

In [25]:
87*3

261

In [26]:
# Rows regarding state populations.

states_census = census[census['SUMLEV']!=10]

In [27]:
states_census.shape

(13311, 18)

In [28]:
13572 - 261

13311

In [29]:
# Rows regarding state populations, segregated by sex.

spec_gen_states_census = states_census[states_census['SEX']!=0]

In [30]:
spec_gen_states_census.shape

(8874, 18)

In [31]:
8874 + 8874/2

13311.0

In [32]:
# Store all US state names.

states = set()
for i in range(0, 8874):
    ele = spec_gen_states_census['NAME'].iloc[i]
    states.add(ele)
print(states)

{'Hawaii', 'Kansas', 'Nevada', 'Mississippi', 'Oregon', 'Georgia', 'District of Columbia', 'Arizona', 'Delaware', 'Minnesota', 'Texas', 'New Hampshire', 'Kentucky', 'Vermont', 'New Mexico', 'North Carolina', 'Iowa', 'Indiana', 'Colorado', 'Tennessee', 'Utah', 'New York', 'Alabama', 'Illinois', 'Maryland', 'Arkansas', 'Idaho', 'Washington', 'Michigan', 'Massachusetts', 'Wisconsin', 'Oklahoma', 'Louisiana', 'Connecticut', 'Ohio', 'Virginia', 'Wyoming', 'South Dakota', 'Montana', 'North Dakota', 'Alaska', 'California', 'New Jersey', 'Missouri', 'Rhode Island', 'South Carolina', 'Maine', 'West Virginia', 'Florida', 'Nebraska', 'Pennsylvania'}

In [33]:
spec_gen_states_census.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'SEX', 'AGE',
       'ESTBASE2010_CIV', 'POPEST2010_CIV', 'POPEST2011_CIV', 'POPEST2012_CIV',
       'POPEST2013_CIV', 'POPEST2014_CIV', 'POPEST2015_CIV', 'POPEST2016_CIV',
       'POPEST2017_CIV', 'POPEST2018_CIV', 'POPEST2019_CIV'],
      dtype='object')

In [34]:
# Store all census column names.

sgscols = ['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'SEX', 'AGE',
       'ESTBASE2010_CIV', 'POPEST2010_CIV', 'POPEST2011_CIV', 'POPEST2012_CIV',
       'POPEST2013_CIV', 'POPEST2014_CIV', 'POPEST2015_CIV', 'POPEST2016_CIV',
       'POPEST2017_CIV', 'POPEST2018_CIV', 'POPEST2019_CIV']

In [35]:
print(sgscols)

['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'SEX', 'AGE', 'ESTBASE2010_CIV', 'POPEST2010_CIV', 'POPEST2011_CIV', 'POPEST2012_CIV', 'POPEST2013_CIV', 'POPEST2014_CIV', 'POPEST2015_CIV', 'POPEST2016_CIV', 'POPEST2017_CIV', 'POPEST2018_CIV', 'POPEST2019_CIV']

In [36]:
# Associate each state name with a state-specific code (given in dataset).

codestates = {}
for i in range(0, 8874):
        code = spec_gen_states_census['STATE'].iloc[i]
        state = spec_gen_states_census['NAME'].iloc[i]
        if state not in codestates:
            codestates[state] = []
        if code not in codestates[state]:
            codestates[state].append(code)
print(codestates)

{'Alabama': [1], 'Alaska': [2], 'Arizona': [4], 'Arkansas': [5], 'California': [6], 'Colorado': [8], 'Connecticut': [9], 'Delaware': [10], 'District of Columbia': [11], 'Florida': [12], 'Georgia': [13], 'Hawaii': [15], 'Idaho': [16], 'Illinois': [17], 'Indiana': [18], 'Iowa': [19], 'Kansas': [20], 'Kentucky': [21], 'Louisiana': [22], 'Maine': [23], 'Maryland': [24], 'Massachusetts': [25], 'Michigan': [26], 'Minnesota': [27], 'Mississippi': [28], 'Missouri': [29], 'Montana': [30], 'Nebraska': [31], 'Nevada': [32], 'New Hampshire': [33], 'New Jersey': [34], 'New Mexico': [35], 'New York': [36], 'North Carolina': [37], 'North Dakota': [38], 'Ohio': [39], 'Oklahoma': [40], 'Oregon': [41], 'Pennsylvania': [42], 'Rhode Island': [44], 'South Carolina': [45], 'South Dakota': [46], 'Tennessee': [47], 'Texas': [48], 'Utah': [49], 'Vermont': [50], 'Virginia': [51], 'Washington': [53], 'West Virginia': [54], 'Wisconsin': [55], 'Wyoming': [56]}

In [37]:
# Among the sex-segregated state populations, remove rows with summed population over age (so each row now also refers to a single age group).

spec_gen_states_census = spec_gen_states_census[spec_gen_states_census['AGE'] != 999]

In [38]:
spec_gen_states_census.shape

(8772, 18)

In [39]:
8874 - 8772

102

In [40]:
male_dc_age_year = {}
female_dc_age_year = {}

# Store male and female populations over time, by age group, in Washington DC.
for i in range(0, 8772):
    if spec_gen_states_census['NAME'].iloc[i] == 'District of Columbia':
        sex = spec_gen_states_census['SEX'].iloc[i]
        age = spec_gen_states_census['AGE'].iloc[i]
        dy0 = spec_gen_states_census['ESTBASE2010_CIV'].iloc[i]
        dy1 = spec_gen_states_census['POPEST2010_CIV'].iloc[i]
        dy2 = spec_gen_states_census['POPEST2011_CIV'].iloc[i]
        dy3 = spec_gen_states_census['POPEST2012_CIV'].iloc[i]
        dy4 = spec_gen_states_census['POPEST2013_CIV'].iloc[i]
        dy5 = spec_gen_states_census['POPEST2014_CIV'].iloc[i]
        dy6 = spec_gen_states_census['POPEST2015_CIV'].iloc[i]
        dy7 = spec_gen_states_census['POPEST2016_CIV'].iloc[i]
        dy8 = spec_gen_states_census['POPEST2017_CIV'].iloc[i]
        dy9 = spec_gen_states_census['POPEST2018_CIV'].iloc[i]
        dy10 = spec_gen_states_census['POPEST2019_CIV'].iloc[i]
        if sex == 1:
            male_dc_age_year[age] = [dy0,dy1,dy2,dy3,dy4,dy5,dy6,dy7,dy8,dy9,dy10]
        if sex == 2:
            female_dc_age_year[age] = [dy0,dy1,dy2,dy3,dy4,dy5,dy6,dy7,dy8,dy9,dy10]

# Store populations in same way, but for each state.
# We will eventually ignore DC since it isn't a state.
# So for Maryland and Virginia, increase their populations by 1/2 of Washington DC population (since DC is next to both states).
male_state_age_year = {}
female_state_age_year = {}
for i in range(0, 8772):
    sex = spec_gen_states_census['SEX'].iloc[i]
    state = spec_gen_states_census['NAME'].iloc[i]
    age = spec_gen_states_census['AGE'].iloc[i]
    y0 = spec_gen_states_census['ESTBASE2010_CIV'].iloc[i]
    y1 = spec_gen_states_census['POPEST2010_CIV'].iloc[i]
    y2 = spec_gen_states_census['POPEST2011_CIV'].iloc[i]
    y3 = spec_gen_states_census['POPEST2012_CIV'].iloc[i]
    y4 = spec_gen_states_census['POPEST2013_CIV'].iloc[i]
    y5 = spec_gen_states_census['POPEST2014_CIV'].iloc[i]
    y6 = spec_gen_states_census['POPEST2015_CIV'].iloc[i]
    y7 = spec_gen_states_census['POPEST2016_CIV'].iloc[i]
    y8 = spec_gen_states_census['POPEST2017_CIV'].iloc[i]
    y9 = spec_gen_states_census['POPEST2018_CIV'].iloc[i]
    y10 = spec_gen_states_census['POPEST2019_CIV'].iloc[i]

    # We already counted DC population, so we can ignore this.
    if state == 'District of Columbia':
        continue

    # For Maryland and Virginia, increase their populations by 1/2 of Washington DC population
    if (state == 'Maryland') or (state == 'Virginia'):
        if sex == 1:
            y0 += male_dc_age_year[age][0] / 2
            y1 += male_dc_age_year[age][1] / 2
            y2 += male_dc_age_year[age][2] / 2
            y3 += male_dc_age_year[age][3] / 2
            y4 += male_dc_age_year[age][4] / 2
            y5 += male_dc_age_year[age][5] / 2
            y6 += male_dc_age_year[age][6] / 2
            y7 += male_dc_age_year[age][7] / 2
            y8 += male_dc_age_year[age][8] / 2
            y9 += male_dc_age_year[age][9] / 2
            y10 += male_dc_age_year[age][10] / 2
        if sex == 2:
            y0 += female_dc_age_year[age][0] / 2
            y1 += female_dc_age_year[age][1] / 2
            y2 += female_dc_age_year[age][2] / 2
            y3 += female_dc_age_year[age][3] / 2
            y4 += female_dc_age_year[age][4] / 2
            y5 += female_dc_age_year[age][5] / 2
            y6 += female_dc_age_year[age][6] / 2
            y7 += female_dc_age_year[age][7] / 2
            y8 += female_dc_age_year[age][8] / 2
            y9 += female_dc_age_year[age][9] / 2
            y10 += female_dc_age_year[age][10] / 2


    # Add data to dictionaries.
    if sex == 1:
        if state not in male_state_age_year:
            male_state_age_year[state] = {}
        male_state_age_year[state][age] = [y0,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10]
    if sex == 2:
        if state not in female_state_age_year:
            female_state_age_year[state] = {}
        female_state_age_year[state][age] = [y0,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10]
print(male_state_age_year['Alabama']) # NOTE ADDED ['Alabama'] POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
print(female_state_age_year['Alabama']) # NOTE ADDED ['Alabama'] POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.

{0: [30465, 30156, 30443, 29730, 29176, 29715, 30028, 29856, 29701, 29542, 29080], 1: [30587, 30481, 30183, 30522, 29737, 29304, 29846, 30152, 29940, 29775, 29711], 2: [31607, 31545, 30578, 30260, 30541, 29770, 29463, 30047, 30298, 30189, 29954], 3: [31727, 31737, 31646, 30539, 30207, 30592, 29896, 29530, 30103, 30465, 30366], 4: [30881, 31090, 31751, 31589, 30496, 30257, 30557, 29903, 29636, 30197, 30604], 5: [30898, 30927, 31109, 31789, 31608, 30552, 30343, 30580, 30003, 29689, 30339], 6: [31001, 31061, 30999, 31075, 31669, 31603, 30572, 30304, 30690, 30132, 29828], 7: [30830, 30900, 31135, 30964, 31045, 31630, 31582, 30699, 30381, 30801, 30207], 8: [31370, 31101, 30925, 31144, 31020, 31119, 31707, 31609, 30687, 30542, 30945], 9: [33243, 32785, 31096, 30984, 31189, 31159, 31157, 31748, 31727, 30864, 30692], 10: [33134, 33322, 32892, 31122, 31091, 31201, 31237, 31321, 31848, 31851, 31082], 11: [32413, 32486, 33284, 32930, 31147, 31056, 31247, 31256, 31431, 31933, 31969], 12: [32912, 32838, 32588, 33372, 32995, 31168, 31080, 31334, 31354, 31482, 32069], 13: [32412, 32564, 32797, 32670, 33439, 32966, 31132, 31095, 31356, 31396, 31501], 14: [32545, 32400, 32657, 32909, 32735, 33416, 33052, 31271, 31245, 31472, 31513], 15: [33422, 33242, 32371, 32680, 32791, 32751, 33383, 32998, 31301, 31305, 31574], 16: [34325, 34202, 33143, 32339, 32528, 32776, 32715, 33382, 33021, 31356, 31364], 17: [34876, 34677, 34136, 33068, 32268, 32423, 32697, 32696, 33327, 32951, 31391], 18: [35532, 35204, 33752, 33187, 32138, 31375, 31591, 31713, 31720, 32106, 31672], 19: [36321, 35941, 34569, 33521, 32996, 31881, 31335, 31448, 31466, 31402, 32110], 20: [35708, 36006, 35690, 34703, 33878, 33010, 31935, 31357, 31300, 31514, 31465], 21: [33644, 34117, 35950, 35976, 35104, 34254, 33460, 32369, 31646, 31625, 31803], 22: [32526, 32849, 34283, 36369, 36674, 35591, 34694, 33913, 32632, 31893, 31761], 23: [31712, 31910, 32673, 34402, 36730, 36653, 35581, 34760, 33864, 32512, 31907], 24: [31127, 31166, 31412, 32139, 33988, 36153, 36277, 35072, 34118, 33204, 32127], 25: [30750, 30963, 30634, 30764, 31572, 33312, 35410, 35397, 34215, 33384, 32642], 26: [29525, 29653, 30592, 30235, 30508, 31142, 32910, 34894, 34794, 33719, 32917], 27: [30233, 30062, 29143, 30207, 29930, 30154, 30826, 32385, 34238, 34257, 33229], 28: [29752, 29987, 29892, 29013, 30091, 29571, 29914, 30521, 32097, 33975, 34073], 29: [30576, 30252, 29810, 29607, 28979, 29815, 29363, 29707, 30234, 31878, 33586], 30: [30933, 31141, 30219, 30078, 29528, 28844, 29732, 29095, 29470, 30127, 31793], 31: [28556, 29115, 30983, 30137, 29988, 29444, 28853, 29692, 29011, 29390, 30000], 32: [28806, 28658, 28976, 30981, 30042, 29759, 29332, 28491, 29434, 28713, 29318], 33: [28150, 28599, 28604, 28803, 30960, 29926, 29796, 29209, 28335, 29347, 28725], 34: [27677, 27619, 28551, 28590, 28711, 30837, 29815, 29592, 29070, 28281, 29309], 35: [28783, 28725, 27378, 28473, 28445, 28585, 30643, 29535, 29346, 28891, 28189], 36: [27919, 28138, 28584, 27306, 28384, 28254, 28456, 30540, 29448, 29238, 28827], 37: [28757, 28615, 27846, 28393, 27134, 28148, 28091, 28200, 30390, 29252, 29056], 38: [30681, 30439, 28610, 27794, 28427, 27050, 28145, 28015, 28079, 30357, 29290], 39: [32087, 32055, 30324, 28525, 27770, 28282, 26849, 27969, 27839, 27932, 30144], 40: [31319, 31728, 32069, 30221, 28579, 27754, 28194, 26705, 27730, 27714, 27836], 41: [29605, 30075, 31790, 32014, 30322, 28728, 27845, 28255, 26772, 27762, 27814], 42: [28989, 29239, 29894, 31581, 31922, 30122, 28505, 27566, 28081, 26532, 27637], 43: [29488, 29495, 29307, 30028, 31708, 31992, 30193, 28514, 27701, 28106, 26626], 44: [30924, 30678, 29528, 29418, 30090, 31705, 31995, 30221, 28420, 27615, 28175], 45: [33411, 32913, 30458, 29335, 29278, 29893, 31532, 31750, 29971, 28274, 27427], 46: [33229, 33476, 32957, 30436, 29397, 29300, 29801, 31455, 31709, 29872, 28301], 47: [33235, 33366, 33345, 32923, 30416, 29363, 29180, 29724, 31475, 31680, 29897], 48: [33914, 33770, 33325, 33304, 32752, 30232, 29282, 29026, 29591, 31396, 31615], 49: [34039, 34181, 33635, 33265, 33202, 32676, 30208, 29263, 28947, 29556, 31409], 50: [34794, 34627, 33984, 33437, 33116, 33045, 32498, 30011, 29160, 28822, 29485], 51: [33166, 33518, 34462, 33845, 33394, 33129, 32996, 32418, 29864, 29122, 28835], 52: [33785, 33577, 33416, 34356, 33792, 33214, 32992, 32810, 32223, 29827, 29066], 53: [33638, 33921, 33277, 33156, 34163, 33454, 32937, 32700, 32558, 31995, 29646], 54: [32928, 32917, 33654, 33081, 32915, 34009, 33175, 32756, 32491, 32401, 31873], 55: [32125, 32292, 32647, 33379, 32806, 32716, 33769, 32945, 32513, 32273, 32256], 56: [30752, 31123, 32001, 32310, 33061, 32470, 32384, 33551, 32576, 32320, 32120], 57: [29636, 29806, 30794, 31665, 32005, 32727, 32103, 32064, 33203, 32258, 32146], 58: [29198, 29090, 29536, 30508, 31365, 31675, 32333, 31741, 31813, 32913, 32085], 59: [27768, 28238, 28678, 29274, 30215, 31012, 31401, 32003, 31421, 31522, 32678], 60: [28062, 27900, 27893, 28351, 28909, 29846, 30602, 30946, 31616, 30984, 31173], 61: [27344, 27458, 27463, 27538, 27954, 28461, 29444, 30236, 30518, 31266, 30657], 62: [28206, 27589, 27143, 27163, 27236, 27562, 28111, 29041, 29868, 30135, 30943], 63: [27264, 28702, 27149, 26733, 26696, 26829, 27111, 27655, 28632, 29414, 29738], 64: [20722, 21039, 28269, 26774, 26308, 26333, 26431, 26695, 27208, 28193, 28973], 65: [21107, 21012, 20679, 27753, 26242, 25767, 25840, 25938, 26201, 26707, 27666], 66: [20986, 20768, 20652, 20248, 27297, 25804, 25370, 25368, 25509, 25761, 26271], 67: [20835, 21230, 20272, 20263, 19867, 26797, 25290, 24908, 24862, 25015, 25269], 68: [18065, 18350, 20703, 19743, 19694, 19374, 26247, 24713, 24305, 24270, 24437], 69: [16912, 16977, 17860, 20218, 19209, 19172, 18870, 25722, 24152, 23735, 23704], 70: [16140, 16259, 16527, 17453, 19680, 18750, 18745, 18387, 25120, 23606, 23206], 71: [15306, 15336, 15760, 16011, 16976, 19086, 18199, 18243, 17810, 24420, 22937], 72: [14484, 14613, 14850, 15280, 15422, 16467, 18476, 17664, 17717, 17285, 23728], 73: [13279, 13406, 14062, 14337, 14753, 14962, 15856, 17869, 17070, 17148, 16737], 74: [12938, 12928, 12881, 13624, 13826, 14224, 14400, 15347, 17213, 16456, 16578], 75: [12188, 12269, 12304, 12292, 13022, 13168, 13567, 13774, 14723, 16518, 15783], 76: [10837, 10947, 11724, 11783, 11764, 12443, 12550, 13057, 13184, 14135, 15883], 77: [10389, 10386, 10404, 11100, 11238, 11198, 11782, 12006, 12412, 12530, 13449], 78: [9666, 9704, 9791, 9871, 10451, 10646, 10544, 11221, 11358, 11741, 11865], 79: [8865, 8868, 9096, 9175, 9228, 9814, 9964, 9927, 10604, 10718, 11101], 80: [8324, 8372, 8256, 8459, 8494, 8626, 9130, 9282, 9265, 9902, 10008], 81: [7348, 7420, 7826, 7681, 7914, 7944, 8018, 8528, 8660, 8668, 9291], 82: [6764, 6775, 6819, 7206, 7057, 7343, 7257, 7409, 7867, 7987, 8020], 83: [6056, 6088, 6145, 6201, 6524, 6434, 6677, 6666, 6832, 7243, 7337], 84: [5202, 5266, 5474, 5537, 5591, 5888, 5855, 6054, 6016, 6179, 6559], 85: [22864, 23110, 24011, 25043, 25770, 26690, 27676, 28611, 29812, 30582, 31322]}
{0: [29591, 29115, 28723, 28787, 28220, 28606, 29090, 28978, 28759, 28311, 27821], 1: [29245, 29284, 29203, 28724, 28879, 28392, 28846, 29268, 29151, 28889, 28579], 2: [30676, 30509, 29399, 29164, 28832, 28837, 28489, 28909, 29455, 29318, 29119], 3: [30271, 30350, 30543, 29354, 29249, 28835, 28929, 28496, 29028, 29516, 29433], 4: [29910, 29990, 30360, 30566, 29358, 29251, 28826, 29070, 28533, 29093, 29690], 5: [29587, 29716, 29965, 30309, 30539, 29356, 29227, 28833, 29138, 28572, 29229], 6: [29612, 29670, 29806, 29974, 30275, 30664, 29386, 29268, 28903, 29146, 28771], 7: [29699, 29698, 29748, 29759, 30027, 30312, 30693, 29509, 29358, 29058, 29330], 8: [30232, 29972, 29894, 29765, 29791, 30007, 30430, 30819, 29590, 29425, 29078], 9: [31758, 31412, 29972, 29913, 29754, 29790, 30023, 30492, 30771, 29707, 29549], 10: [31855, 32009, 31582, 30096, 30028, 29869, 29791, 30110, 30573, 30981, 29815], 11: [31288, 31333, 32123, 31673, 30085, 30093, 29932, 29876, 30179, 30796, 31114], 12: [31277, 31332, 31401, 32132, 31639, 30139, 30050, 29922, 29927, 30287, 30837], 13: [30683, 30897, 31328, 31466, 32189, 31716, 30185, 30042, 29964, 30067, 30382], 14: [31135, 30943, 30905, 31413, 31524, 32193, 31726, 30215, 30085, 30021, 30216], 15: [31674, 31594, 31014, 31048, 31499, 31529, 32123, 31876, 30283, 30271, 30166], 16: [32430, 32335, 31705, 31124, 31183, 31540, 31632, 32235, 31918, 30426, 30435], 17: [32887, 32738, 32409, 31742, 31141, 31151, 31494, 31730, 32327, 32008, 30533], 18: [34515, 33959, 32047, 31859, 31223, 30534, 30692, 30926, 31031, 31657, 31266], 19: [36704, 36132, 33963, 32470, 32508, 31649, 31076, 30975, 31148, 31348, 32015], 20: [36087, 36613, 36675, 34780, 33415, 33068, 32343, 31567, 31665, 32046, 32122], 21: [34283, 34682, 36863, 37195, 35353, 33709, 33476, 32642, 31952, 32149, 32398], 22: [33008, 33257, 34695, 37173, 37481, 35364, 33775, 33543, 32681, 32002, 32182], 23: [32078, 32268, 33227, 34712, 37018, 37236, 35171, 33499, 33315, 32415, 31812], 24: [31844, 31847, 31882, 32783, 34195, 36342, 36607, 34613, 33083, 32707, 31795], 25: [31631, 31844, 31688, 31565, 32402, 33830, 35897, 36156, 34298, 32523, 32437], 26: [31175, 31062, 31628, 31473, 31238, 32125, 33371, 35378, 35736, 33907, 32291], 27: [31120, 31214, 31035, 31751, 31437, 31193, 32002, 33323, 35393, 35540, 33798], 28: [31107, 31304, 31044, 30951, 31522, 31109, 30921, 31778, 33144, 35150, 35405], 29: [31728, 31462, 31346, 31012, 30943, 31465, 31127, 30795, 31758, 33191, 35172], 30: [31975, 32169, 31472, 31281, 30926, 30755, 31340, 30921, 30704, 31648, 33059], 31: [30029, 30473, 32200, 31390, 31110, 30889, 30580, 31224, 30776, 30584, 31469], 32: [30344, 30116, 30550, 32211, 31363, 31168, 30933, 30599, 31245, 30846, 30662], 33: [29534, 30028, 30113, 30536, 32224, 31422, 31183, 31005, 30671, 31372, 30890], 34: [29104, 28950, 30066, 30147, 30597, 32127, 31358, 31132, 30899, 30630, 31412], 35: [30080, 30050, 28931, 30120, 30119, 30538, 32105, 31314, 31215, 31049, 30752], 36: [29581, 29639, 30075, 29099, 30202, 30227, 30413, 32042, 31395, 31282, 31094], 37: [31011, 30651, 29624, 30031, 29078, 30215, 30078, 30284, 31933, 31306, 31290], 38: [32276, 32042, 30794, 29792, 30164, 29044, 30223, 30206, 30431, 32095, 31406], 39: [33846, 33641, 31973, 30657, 29638, 30071, 28877, 30149, 30168, 30369, 32056], 40: [32756, 33149, 33672, 31949, 30587, 29608, 30007, 28899, 30107, 30139, 30323], 41: [31086, 31413, 33210, 33723, 32071, 30688, 29585, 30019, 28924, 30128, 30179], 42: [30630, 30746, 31403, 33341, 33758, 32114, 30590, 29478, 29988, 28838, 30215], 43: [30999, 30952, 30709, 31445, 33285, 33770, 32053, 30559, 29571, 29989, 28872], 44: [32455, 32057, 30937, 30603, 31425, 33275, 33729, 31985, 30538, 29532, 29999], 45: [34894, 34363, 31982, 30878, 30579, 31288, 33228, 33715, 31874, 30542, 29581], 46: [34970, 35082, 34397, 31966, 30879, 30579, 31176, 33163, 33707, 31899, 30537], 47: [35328, 35324, 35085, 34416, 32033, 30910, 30742, 31215, 33304, 33833, 32062], 48: [35707, 35634, 35246, 35081, 34405, 32027, 30814, 30657, 31227, 33346, 33845], 49: [36162, 36199, 35695, 35176, 35092, 34393, 31980, 30770, 30694, 31271, 33341], 50: [36473, 36351, 36060, 35534, 35043, 34960, 34245, 31850, 30678, 30586, 31253], 51: [35535, 35727, 36375, 35928, 35554, 34991, 34954, 34236, 31818, 30657, 30659], 52: [36195, 35945, 35654, 36384, 35829, 35470, 34976, 34913, 34186, 31788, 30720], 53: [35652, 36070, 35828, 35440, 36311, 35705, 35269, 34734, 34794, 34042, 31675], 54: [34830, 34862, 35949, 35644, 35302, 36238, 35565, 35201, 34678, 34779, 34052], 55: [34787, 34747, 34697, 35701, 35419, 35140, 36056, 35386, 35046, 34583, 34650], 56: [33518, 33913, 34688, 34585, 35625, 35313, 34978, 35931, 35393, 35019, 34575], 57: [32178, 32407, 33702, 34496, 34407, 35327, 35112, 34802, 35766, 35238, 34927], 58: [31680, 31563, 32271, 33501, 34294, 34232, 35160, 34939, 34656, 35647, 35223], 59: [30088, 30695, 31360, 32121, 33381, 34127, 34029, 35015, 34853, 34635, 35543], 60: [30624, 30398, 30514, 31154, 31882, 33072, 33860, 33822, 34798, 34713, 34432], 61: [30107, 30232, 30283, 30237, 31009, 31702, 32885, 33735, 33726, 34675, 34554], 62: [30666, 30108, 29989, 30088, 29942, 30684, 31475, 32641, 33427, 33506, 34422], 63: [29851, 31354, 29945, 29851, 29878, 29740, 30492, 31311, 32432, 33175, 33379], 64: [23282, 23509, 31059, 29708, 29550, 29613, 29531, 30243, 31057, 32232, 33069], 65: [23698, 23650, 23228, 30729, 29369, 29228, 29289, 29212, 29986, 30764, 31918], 66: [23625, 23392, 23395, 22971, 30433, 29044, 28930, 29079, 28939, 29710, 30495], 67: [23976, 24352, 23079, 23070, 22700, 30076, 28652, 28612, 28765, 28645, 29425], 68: [20889, 21228, 23970, 22737, 22739, 22389, 29703, 28293, 28181, 28384, 28260], 69: [19559, 19748, 20905, 23675, 22415, 22466, 22102, 29366, 27872, 27765, 28003], 70: [19400, 19409, 19441, 20527, 23290, 22093, 22145, 21733, 28937, 27440, 27361], 71: [18492, 18500, 19031, 19073, 20081, 22877, 21627, 21694, 21300, 28417, 26947], 72: [17978, 18104, 18102, 18591, 18654, 19700, 22415, 21225, 21244, 20869, 27884], 73: [16544, 16730, 17659, 17631, 18102, 18148, 19128, 21827, 20649, 20710, 20354], 74: [16321, 16271, 16262, 17260, 17209, 17679, 17708, 18672, 21364, 20174, 20267], 75: [15803, 15931, 15900, 15818, 16794, 16783, 17204, 17214, 18199, 20830, 19658], 76: [14307, 14436, 15400, 15451, 15353, 16331, 16283, 16738, 16734, 17672, 20290], 77: [13951, 13913, 13943, 14832, 14873, 14794, 15777, 15772, 16192, 16207, 17126], 78: [13602, 13596, 13402, 13454, 14344, 14397, 14280, 15285, 15276, 15691, 15707], 79: [13257, 13086, 12851, 12689, 12713, 13592, 13596, 13560, 14486, 14556, 14952], 80: [12529, 12666, 12487, 12299, 12113, 12202, 12991, 13066, 12954, 13902, 13969], 81: [11577, 11591, 12017, 11847, 11684, 11471, 11611, 12383, 12415, 12328, 13289], 82: [11313, 11204, 10824, 11257, 11064, 10915, 10734, 10904, 11574, 11640, 11574], 83: [10345, 10435, 10485, 10099, 10500, 10360, 10200, 10066, 10165, 10804, 10885], 84: [9335, 9385, 9704, 9761, 9376, 9816, 9658, 9539, 9410, 9510, 10101], 85: [52851, 53133, 53836, 54955, 55764, 56858, 57723, 58765, 59450, 59828, 60221]}

In [41]:
# This function computes the best-fit line of a set of points in R^2, returning its slope and y-intercept.
# The mathematical formula for best-fit line was obtained online.

def best_fit_line(xs, ys):
    N = len(xs)
    sum_x = 0
    sum_y = 0
    sum_x2 = 0
    sum_y2 = 0
    sum_xy = 0
    for i in range(0, len(xs)):
        x = xs[i]
        y = ys[i]
        sum_x += x
        sum_y += y
        sum_x2 += x*x
        sum_y2 += y*y
        sum_xy += x*y
    m = (N * sum_xy - sum_x*sum_y)/(N * sum_x2 - (sum_x*sum_x))
    b = (sum_y - m * sum_x) / N
    return (m,b)

In [42]:
# Testing variable assignment syntax.

(m,b) = (1,2)
print(m)

1

In [43]:
# Given list of population from dataset years 2010 (Apr.), 2010 (July), 2011 (July), ..., 2019 (July), extrapolate the 2023 (Jan.) population via linear regression.

def est_pop_2023_asg(ys):
    (m,b) = best_fit_line([0, 0.25, 1.25, 2.25, 3.25, 4.25, 5.25, 6.25, 7.25, 8.25, 9.25], ys)
    return m * 12.75 + b

In [44]:
# Compute the expected 2023 populations segregated by age, state, and sex.

male_state_age_year_bfe = {}
female_state_age_year_bfe = {}
for state in male_state_age_year:
    male_state_age_year_bfe[state] = {}
    for age in male_state_age_year[state]:
        male_state_age_year_bfe[state][age] = est_pop_2023_asg(male_state_age_year[state][age])
for state in female_state_age_year:
    female_state_age_year_bfe[state] = {}
    for age in female_state_age_year[state]:
        female_state_age_year_bfe[state][age] = est_pop_2023_asg(female_state_age_year[state][age])
print(male_state_age_year_bfe['Alabama']) # NOTE ADDED ['Alabama'] POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.
print(female_state_age_year_bfe['Alabama']) # NOTE ADDED ['Alabama'] POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.

{0: 28988.9694980695, 1: 29355.352509652508, 2: 29149.115444015442, 3: 29143.91853281853, 4: 29451.932046332044, 5: 29516.67297297297, 6: 29747.648262548264, 7: 30447.1166023166, 8: 30839.414285714283, 9: 30223.691505791507, 10: 30374.302316602316, 11: 30869.340154440153, 12: 30575.311196911192, 13: 30582.823166023165, 14: 30992.650965250967, 15: 31030.979150579144, 16: 30936.008494208498, 17: 31028.16293436294, 18: 29519.45250965251, 19: 28756.17953667954, 20: 28478.45637065637, 21: 30281.076447876447, 22: 32244.320849420852, 23: 34282.8833976834, 24: 35616.34594594594, 25: 36043.1833976834, 26: 36463.9166023166, 27: 35546.237451737456, 28: 34591.00617760618, 29: 32276.390347490345, 30: 29831.01428571429, 31: 29530.154826254828, 32: 29161.865637065635, 33: 29457.250965250965, 34: 30104.405791505786, 35: 29463.702702702703, 36: 30079.598069498068, 37: 29550.747876447873, 38: 28209.464864864865, 39: 26333.972586872587, 40: 24802.505791505795, 41: 25665.615830115832, 42: 26268.64517374517, 43: 26992.427027027028, 44: 27839.052123552123, 45: 27063.704633204634, 46: 27742.358301158303, 47: 28442.51467181467, 48: 28174.38030888031, 49: 27344.96447876448, 50: 26385.606563706562, 51: 27699.03590733591, 52: 28941.17413127413, 53: 30290.532432432436, 54: 32009.08725868726, 55: 32688.756756756757, 56: 33391.77297297297, 57: 34043.25984555984, 58: 34270.109266409265, 59: 34524.3359073359, 60: 33324.36138996139, 61: 32758.45212355212, 62: 31441.000386100386, 63: 29572.305405405405, 64: 31212.385714285716, 65: 30328.445173745175, 66: 29488.74903474903, 67: 28389.67142857143, 68: 28359.970656370657, 69: 27778.456756756757, 70: 26724.074517374516, 71: 25078.669498069496, 72: 22761.40308880309, 73: 19324.09575289575, 74: 18519.842857142856, 75: 17257.723552123553, 76: 16207.135907335907, 77: 14105.674517374518, 78: 12745.002316602317, 79: 11779.54555984556, 80: 10507.946718146719, 81: 9626.515057915058, 82: 8502.315057915057, 83: 7692.507722007721, 84: 6841.656756756756, 85: 34689.947104247105}
{0: 27904.061003861003, 1: 28640.649806949805, 2: 28335.954826254827, 3: 28350.304633204632, 4: 28416.89613899614, 5: 28429.68803088803, 6: 28664.228185328186, 7: 29299.090347490346, 8: 29427.982625482626, 9: 29226.63745173745, 10: 29249.983783783784, 11: 29772.57142857143, 12: 29465.44942084942, 13: 29675.93359073359, 14: 29896.10694980695, 15: 30175.383397683396, 16: 30426.01583011583, 17: 30701.818146718146, 18: 29429.806177606173, 19: 28431.779150579154, 20: 28857.290347490347, 21: 30371.53011583011, 22: 31897.049034749034, 23: 33386.54864864865, 24: 34383.35675675676, 25: 35255.156756756754, 26: 35790.27528957529, 27: 36327.54054054054, 28: 35687.74980694981, 29: 33868.87837837838, 30: 31567.25366795367, 31: 31122.291505791505, 32: 31118.287644787644, 33: 31861.06872586873, 34: 32415.70579150579, 35: 32061.17258687259, 36: 32385.457915057916, 37: 31550.36525096525, 38: 30507.46602316602, 39: 28820.115444015442, 40: 27721.065637065636, 41: 28353.241698841695, 42: 28952.177220077217, 43: 29391.530888030888, 44: 30046.591505791504, 45: 29485.772200772204, 46: 29918.985714285714, 47: 30357.870270270265, 48: 30075.63166023166, 49: 28885.275289575293, 50: 28055.3806949807, 51: 29201.23513513514, 52: 30549.591119691126, 53: 32337.973745173746, 54: 34460.06718146718, 55: 35066.84980694981, 56: 35919.49343629344, 57: 36926.96525096525, 58: 37465.552895752895, 59: 37971.26602316603, 60: 37157.70540540541, 61: 36827.85868725869, 62: 35524.44092664092, 63: 33904.36486486487, 64: 35924.79343629343, 65: 35095.932432432426, 66: 34168.43706563707, 67: 32758.806177606173, 68: 32772.21621621621, 69: 32414.35250965251, 70: 30997.723552123553, 71: 29266.757915057915, 72: 26752.636293436295, 73: 23087.22548262548, 74: 22415.914285714287, 75: 21202.28996138996, 76: 20274.165250965252, 77: 17969.333204633207, 78: 16707.232432432433, 79: 15347.946332046333, 80: 14121.750193050195, 81: 13113.678764478766, 82: 11539.067953667954, 83: 10625.127027027027, 84: 9852.274903474903, 85: 63807.71621621621}

In [45]:
# We find research data on new breast cancer case rates for each sex, for each 5-years-long age group
# (from https://www.cancerresearchuk.org/health-professional/cancer-statistics/statistics-by-cancer-type/breast-cancer/incidence-invasive#heading-One)
# and store these in fr and mr. We then assign the same value to each year within each 5-years-long age group.

# research data on male, female breast cancer rates.
fr = [0,0,0,.1,1.6,11.5,31.2,65.8,124.6,214.8,279.8,285.5,337.9,412.3,372.7,403,430.4,447.7]
mr = [0,0,0,0,0,.1,0,.1,.4,.5,1.2,1.3,2.1,3.6,3.9,5,6.1,8.8]

# assign the same value to each year within each 5-years-long age group.
female_rates_by_age = {}
male_rates_by_age = {}
for i in range(0, 86, 5):
    female_rates_by_age[i] = fr[i//5]
    female_rates_by_age[i+1] = fr[i//5]
    female_rates_by_age[i+2] = fr[i//5]
    female_rates_by_age[i+3] = fr[i//5]
    female_rates_by_age[i+4] = fr[i//5]
    male_rates_by_age[i] = mr[i//5]
    male_rates_by_age[i+1] = mr[i//5]
    male_rates_by_age[i+2] = mr[i//5]
    male_rates_by_age[i+3] = mr[i//5]
    male_rates_by_age[i+4] = mr[i//5]
print(female_rates_by_age)
print(male_rates_by_age)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0.1, 16: 0.1, 17: 0.1, 18: 0.1, 19: 0.1, 20: 1.6, 21: 1.6, 22: 1.6, 23: 1.6, 24: 1.6, 25: 11.5, 26: 11.5, 27: 11.5, 28: 11.5, 29: 11.5, 30: 31.2, 31: 31.2, 32: 31.2, 33: 31.2, 34: 31.2, 35: 65.8, 36: 65.8, 37: 65.8, 38: 65.8, 39: 65.8, 40: 124.6, 41: 124.6, 42: 124.6, 43: 124.6, 44: 124.6, 45: 214.8, 46: 214.8, 47: 214.8, 48: 214.8, 49: 214.8, 50: 279.8, 51: 279.8, 52: 279.8, 53: 279.8, 54: 279.8, 55: 285.5, 56: 285.5, 57: 285.5, 58: 285.5, 59: 285.5, 60: 337.9, 61: 337.9, 62: 337.9, 63: 337.9, 64: 337.9, 65: 412.3, 66: 412.3, 67: 412.3, 68: 412.3, 69: 412.3, 70: 372.7, 71: 372.7, 72: 372.7, 73: 372.7, 74: 372.7, 75: 403, 76: 403, 77: 403, 78: 403, 79: 403, 80: 430.4, 81: 430.4, 82: 430.4, 83: 430.4, 84: 430.4, 85: 447.7, 86: 447.7, 87: 447.7, 88: 447.7, 89: 447.7}
{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0.1, 26: 0.1, 27: 0.1, 28: 0.1, 29: 0.1, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0.1, 36: 0.1, 37: 0.1, 38: 0.1, 39: 0.1, 40: 0.4, 41: 0.4, 42: 0.4, 43: 0.4, 44: 0.4, 45: 0.5, 46: 0.5, 47: 0.5, 48: 0.5, 49: 0.5, 50: 1.2, 51: 1.2, 52: 1.2, 53: 1.2, 54: 1.2, 55: 1.3, 56: 1.3, 57: 1.3, 58: 1.3, 59: 1.3, 60: 2.1, 61: 2.1, 62: 2.1, 63: 2.1, 64: 2.1, 65: 3.6, 66: 3.6, 67: 3.6, 68: 3.6, 69: 3.6, 70: 3.9, 71: 3.9, 72: 3.9, 73: 3.9, 74: 3.9, 75: 5, 76: 5, 77: 5, 78: 5, 79: 5, 80: 6.1, 81: 6.1, 82: 6.1, 83: 6.1, 84: 6.1, 85: 8.8, 86: 8.8, 87: 8.8, 88: 8.8, 89: 8.8}

In [46]:
# Using the male and female cancer rate data, we compute a cancer risk metric for each sex in each state, which is
# the predicted number of each age group of that sex in the state in 2023 times the cancer risk rate for that sex, age group.

state_cancer_risk_male = {}
for state in male_state_age_year_bfe:
    state_cancer_risk_male[state] = 0
    for age in male_state_age_year_bfe[state]:
        state_cancer_risk_male[state] += male_state_age_year_bfe[state][age] * male_rates_by_age[age]
state_cancer_risk_female = {}
for state in female_state_age_year_bfe:
    state_cancer_risk_female[state] = 0
    for age in female_state_age_year_bfe[state]:
        state_cancer_risk_female[state] += female_state_age_year_bfe[state][age] * female_rates_by_age[age]
print(state_cancer_risk_male)
print(state_cancer_risk_female)

{'Alabama': 2767423.4459073357, 'Alaska': 363413.0905019304, 'Arizona': 4479867.041660232, 'Arkansas': 1712229.1013513512, 'California': 20822186.876177605, 'Colorado': 3069182.909536679, 'Connecticut': 2115387.792702703, 'Delaware': 623137.2906177605, 'Florida': 14955695.706602322, 'Georgia': 5321975.501621621, 'Hawaii': 896424.4757915057, 'Idaho': 1020005.3369498067, 'Illinois': 6915174.427490346, 'Indiana': 3656105.3780308873, 'Iowa': 1836378.6225096525, 'Kansas': 1600074.8214671817, 'Kentucky': 2506077.6668339767, 'Louisiana': 2480241.1055598455, 'Maine': 938576.0494208494, 'Maryland': 3427162.157277993, 'Massachusetts': 3929477.091583012, 'Michigan': 5921450.118185328, 'Minnesota': 3237151.68050193, 'Mississippi': 1586247.2974903472, 'Missouri': 3524847.2619691133, 'Montana': 703528.0212741313, 'Nebraska': 1059058.2383397685, 'Nevada': 1798679.9561389966, 'New Hampshire': 890160.5097297297, 'New Jersey': 4994211.631776062, 'New Mexico': 1247641.0375675678, 'New York': 10970787.946061775, 'North Carolina': 5881480.807722008, 'North Dakota': 419211.1462162162, 'Ohio': 6751897.305328185, 'Oklahoma': 2125818.481389961, 'Oregon': 2566486.8548262552, 'Pennsylvania': 7783511.848378382, 'Rhode Island': 612537.5757142856, 'South Carolina': 3089941.958301159, 'South Dakota': 520558.9376447877, 'Tennessee': 3822965.6764864866, 'Texas': 13659039.252007723, 'Utah': 1369624.1690733593, 'Vermont': 416181.40953667957, 'Virginia': 4845640.39530888, 'Washington': 4239949.554864865, 'West Virginia': 1180171.5597683399, 'Wisconsin': 3506812.883243243, 'Wyoming': 350738.8366023165}
{'Alabama': 432880474.8335906, 'Alaska': 50605173.60613899, 'Arizona': 630638094.5957916, 'Arkansas': 255850982.89301154, 'California': 3195752864.316101, 'Colorado': 461122195.88416994, 'Connecticut': 323360236.376641, 'Delaware': 93208510.27193049, 'Florida': 2113236845.5658302, 'Georgia': 877278482.5510042, 'Hawaii': 125627572.88903476, 'Idaho': 142778933.5164865, 'Illinois': 1066272542.8951352, 'Indiana': 556700216.4672202, 'Iowa': 262813171.04293436, 'Kansas': 233664792.78745168, 'Kentucky': 383403182.3323166, 'Louisiana': 389296677.59370667, 'Maine': 133350099.11166023, 'Maryland': 556084194.3125869, 'Massachusetts': 614346063.964865, 'Michigan': 875319087.0474519, 'Minnesota': 468442595.07555985, 'Mississippi': 251831136.83162165, 'Missouri': 528327883.32934374, 'Montana': 93339069.9554054, 'Nebraska': 153204217.26104248, 'Nevada': 257109652.01212347, 'New Hampshire': 128001551.83633205, 'New Jersey': 783796222.3518533, 'New Mexico': 179238685.14297292, 'New York': 1707874912.9573362, 'North Carolina': 929187042.5410424, 'North Dakota': 57285317.19173745, 'Ohio': 1016860504.1444014, 'Oklahoma': 318348624.7246333, 'Oregon': 371045233.4889962, 'Pennsylvania': 1156495521.6077225, 'Rhode Island': 94531694.93312742, 'South Carolina': 474282262.71305037, 'South Dakota': 71696035.51606178, 'Tennessee': 591845621.739614, 'Texas': 2182892424.204054, 'Utah': 206570845.7157529, 'Vermont': 58540453.298841685, 'Virginia': 753649706.8245561, 'Washington': 629501739.4513899, 'West Virginia': 165434966.87803093, 'Wisconsin': 501627552.08332056, 'Wyoming': 46802838.098378375}

In [47]:
# We add together the sex-specific cancer risk metrics for each state to get the overall cancer risk metric for each state.

state_cancer_risk = {}
for state in state_cancer_risk_male:
    state_cancer_risk[state] = state_cancer_risk_male[state] + state_cancer_risk_female[state]
print(state_cancer_risk)

{'Alabama': 435647898.279498, 'Alaska': 50968586.696640916, 'Arizona': 635117961.6374518, 'Arkansas': 257563211.9943629, 'California': 3216575051.192279, 'Colorado': 464191378.7937066, 'Connecticut': 325475624.16934365, 'Delaware': 93831647.56254825, 'Florida': 2128192541.2724326, 'Georgia': 882600458.0526258, 'Hawaii': 126523997.36482626, 'Idaho': 143798938.8534363, 'Illinois': 1073187717.3226255, 'Indiana': 560356321.8452511, 'Iowa': 264649549.66544402, 'Kansas': 235264867.60891888, 'Kentucky': 385909259.9991506, 'Louisiana': 391776918.6992665, 'Maine': 134288675.16108108, 'Maryland': 559511356.4698648, 'Massachusetts': 618275541.056448, 'Michigan': 881240537.1656371, 'Minnesota': 471679746.7560618, 'Mississippi': 253417384.129112, 'Missouri': 531852730.5913128, 'Montana': 94042597.97667953, 'Nebraska': 154263275.49938226, 'Nevada': 258908331.96826246, 'New Hampshire': 128891712.34606178, 'New Jersey': 788790433.9836293, 'New Mexico': 180486326.18054047, 'New York': 1718845700.903398, 'North Carolina': 935068523.3487644, 'North Dakota': 57704528.337953664, 'Ohio': 1023612401.4497296, 'Oklahoma': 320474443.2060232, 'Oregon': 373611720.3438225, 'Pennsylvania': 1164279033.456101, 'Rhode Island': 95144232.50884171, 'South Carolina': 477372204.67135155, 'South Dakota': 72216594.45370658, 'Tennessee': 595668587.4161005, 'Texas': 2196551463.4560614, 'Utah': 207940469.88482627, 'Vermont': 58956634.70837837, 'Virginia': 758495347.219865, 'Washington': 633741689.0062548, 'West Virginia': 166615138.43779927, 'Wisconsin': 505134364.9665638, 'Wyoming': 47153576.93498069}

In [48]:
# We sort the state risk metrics in non-increasing order.
# States with higher risk metrics are proportionally more likely to have more new cancer cases.

sorted_states_by_risk = []
for state, risk in state_cancer_risk.items():
    sorted_states_by_risk.append((state, risk))
sorted_states_by_risk.sort(key= (lambda x: x[1]))
sorted_states_by_risk.reverse()
for staterisk in sorted_states_by_risk:
    print(staterisk[0], staterisk[1])

California 3216575051.192279
Texas 2196551463.4560614
Florida 2128192541.2724326
New York 1718845700.903398
Pennsylvania 1164279033.456101
Illinois 1073187717.3226255
Ohio 1023612401.4497296
North Carolina 935068523.3487644
Georgia 882600458.0526258
Michigan 881240537.1656371
New Jersey 788790433.9836293
Virginia 758495347.219865
Arizona 635117961.6374518
Washington 633741689.0062548
Massachusetts 618275541.056448
Tennessee 595668587.4161005
Indiana 560356321.8452511
Maryland 559511356.4698648
Missouri 531852730.5913128
Wisconsin 505134364.9665638
South Carolina 477372204.67135155
Minnesota 471679746.7560618
Colorado 464191378.7937066
Alabama 435647898.279498
Louisiana 391776918.6992665
Kentucky 385909259.9991506
Oregon 373611720.3438225
Connecticut 325475624.16934365
Oklahoma 320474443.2060232
Iowa 264649549.66544402
Nevada 258908331.96826246
Arkansas 257563211.9943629
Mississippi 253417384.129112
Kansas 235264867.60891888
Utah 207940469.88482627
New Mexico 180486326.18054047
West Virginia 166615138.43779927
Nebraska 154263275.49938226
Idaho 143798938.8534363
Maine 134288675.16108108
New Hampshire 128891712.34606178
Hawaii 126523997.36482626
Rhode Island 95144232.50884171
Montana 94042597.97667953
Delaware 93831647.56254825
South Dakota 72216594.45370658
Vermont 58956634.70837837
North Dakota 57704528.337953664
Alaska 50968586.696640916
Wyoming 47153576.93498069

In [49]:
# We view again the number of existing mammogram facilities in each state.

print(statescnts)

{'WA': 149, 'IL': 335, 'OH': 333, 'NC': 270, 'NY': 550, 'SC': 110, 'LA': 145, 'TN': 192, 'PA': 343, 'FL': 628, 'AZ': 171, 'IA': 145, 'IN': 179, 'MA': 155, 'TX': 574, 'VA': 205, 'MT': 47, 'CA': 761, 'AL': 142, 'NE': 93, 'NJ': 247, 'MD': 132, 'CT': 114, 'GA': 277, 'KS': 109, 'WI': 215, 'KY': 144, 'OR': 108, 'HI': 37, 'AK': 33, 'MN': 210, 'NH': 44, 'OK': 116, 'MS': 99, 'UT': 64, 'NM': 46, 'ND': 48, 'MO': 159, 'ME': 48, 'AR': 83, 'CO': 138, 'MI': 271, 'WY': 30, 'SD': 48, 'NV': 69, 'DE': 30, 'ID': 49, 'WV': 64, 'VT': 15, 'RI': 34}

In [50]:
# Check if puerto rico is considered as a state.

print('PR' in statescnts)

False

In [51]:
# Look at the state name, abbrev. table.

sabs_df = pd.read_csv('data.csv')
sabs_df

                   state  abbrev code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

In [52]:
# Remove the short-name versions of states.

sabs_df = sabs_df.drop(['abbrev'], axis = 1)

In [53]:
sabs_df

                   state code
0                Alabama   AL
1                 Alaska   AK
2                Arizona   AZ
3               Arkansas   AR
4             California   CA
5               Colorado   CO
6            Connecticut   CT
7               Delaware   DE
8   District of Columbia   DC
9                Florida   FL
10               Georgia   GA
11                Hawaii   HI
12                 Idaho   ID
13              Illinois   IL
14               Indiana   IN
15                  Iowa   IA
16                Kansas   KS
17              Kentucky   KY
18             Louisiana   LA
19                 Maine   ME
20              Maryland   MD
21         Massachusetts   MA
22              Michigan   MI
23             Minnesota   MN
24           Mississippi   MS
25              Missouri   MO
26               Montana   MT
27              Nebraska   NE
28                Nevada   NV
29         New Hampshire   NH
30            New Jersey   NJ
31            New Mexico   NM
32              New York   NY
33        North Carolina   NC
34          North Dakota   ND
35                  Ohio   OH
36              Oklahoma   OK
37                Oregon   OR
38          Pennsylvania   PA
39          Rhode Island   RI
40        South Carolina   SC
41          South Dakota   SD
42             Tennessee   TN
43                 Texas   TX
44                  Utah   UT
45               Vermont   VT
46              Virginia   VA
47            Washington   WA
48         West Virginia   WV
49             Wisconsin   WI
50               Wyoming   WY

In [54]:
# Map each state to its abbrev.

states_by_abbs = {}
for i in range(0, 51):
        states_by_abbs[sabs_df['state'].iloc[i]] = sabs_df['code'].iloc[i]
print(states_by_abbs)

{'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [55]:
# Compute a risk-facility ratio per state, which is the ratio between the cancer risk metric and number of facilities in the state.
# A higher risk-facility ratio indicates that a state is less prepared to provide support (mammograms) for its expected new cancer cases.

risk_facility_ratio_by_state = {}
for staterisk in sorted_states_by_risk:
    if staterisk[0] != 'District of Columbia':
        risk = staterisk[1]
        nfac = statescnts[states_by_abbs[staterisk[0]]]
        risk_facility_ratio_by_state[staterisk[0]] = risk / nfac
print(risk_facility_ratio_by_state)

{'California': 4226774.048872903, 'Texas': 3826744.7098537656, 'Florida': 3388841.626229988, 'New York': 3125174.001642542, 'Pennsylvania': 3394399.5144492737, 'Illinois': 3203545.424843658, 'Ohio': 3073911.1154646534, 'North Carolina': 3463216.753143572, 'Georgia': 3186283.242067241, 'Michigan': 3251810.1002422036, 'New Jersey': 3193483.5383952605, 'Virginia': 3699977.303511536, 'Arizona': 3714140.1265348056, 'Washington': 4253299.926216475, 'Massachusetts': 3988874.4584286967, 'Tennessee': 3102440.559458857, 'Indiana': 3130482.244945537, 'Maryland': 4238722.397498976, 'Missouri': 3344985.726989389, 'Wisconsin': 2349462.1626351806, 'South Carolina': 4339747.315194105, 'Minnesota': 2246094.032171723, 'Colorado': 3363705.6434326563, 'Alabama': 3067942.9456302673, 'Louisiana': 2701909.7841328722, 'Kentucky': 2679925.416660768, 'Oregon': 3459367.7809613193, 'Connecticut': 2855049.334818804, 'Oklahoma': 2762710.7172933035, 'Iowa': 1825169.3080375448, 'Nevada': 3752294.6662067026, 'Arkansas': 3103171.228847746, 'Mississippi': 2559771.5568597172, 'Kansas': 2158393.2808157695, 'Utah': 3249069.8419504105, 'New Mexico': 3923615.7865334884, 'West Virginia': 2603361.5380906137, 'Nebraska': 1658744.89784282, 'Idaho': 2934672.2214987, 'Maine': 2797680.7325225226, 'New Hampshire': 2929357.0987741314, 'Hawaii': 3419567.496346656, 'Rhode Island': 2798359.7796718148, 'Montana': 2000906.3399293518, 'Delaware': 3127721.585418275, 'South Dakota': 1504512.3844522203, 'Vermont': 3930442.313891891, 'North Dakota': 1202177.673707368, 'Alaska': 1544502.627170937, 'Wyoming': 1571785.8978326896}

In [56]:
# Check if DC is considered a state.

print('DC' in statescnts)

False

In [57]:
1654320248 / 156601418.8957179

10.563890542407057

In [58]:
# We sort the state risk-facility ratios in non-increasing order.
# The top most states are the least prepared, and the bottom most states are the most prepared.

sorted_states_by_risk_fac_ratio = []
for state, ratio in risk_facility_ratio_by_state.items():
    sorted_states_by_risk_fac_ratio.append((state, ratio))
sorted_states_by_risk_fac_ratio.sort(key= (lambda x: x[1]))
sorted_states_by_risk_fac_ratio.reverse()
for stateratio in sorted_states_by_risk_fac_ratio:
    print(stateratio[0], stateratio[1])

South Carolina 4339747.315194105
Washington 4253299.926216475
Maryland 4238722.397498976
California 4226774.048872903
Massachusetts 3988874.4584286967
Vermont 3930442.313891891
New Mexico 3923615.7865334884
Texas 3826744.7098537656
Nevada 3752294.6662067026
Arizona 3714140.1265348056
Virginia 3699977.303511536
North Carolina 3463216.753143572
Oregon 3459367.7809613193
Hawaii 3419567.496346656
Pennsylvania 3394399.5144492737
Florida 3388841.626229988
Colorado 3363705.6434326563
Missouri 3344985.726989389
Michigan 3251810.1002422036
Utah 3249069.8419504105
Illinois 3203545.424843658
New Jersey 3193483.5383952605
Georgia 3186283.242067241
Indiana 3130482.244945537
Delaware 3127721.585418275
New York 3125174.001642542
Arkansas 3103171.228847746
Tennessee 3102440.559458857
Ohio 3073911.1154646534
Alabama 3067942.9456302673
Idaho 2934672.2214987
New Hampshire 2929357.0987741314
Connecticut 2855049.334818804
Rhode Island 2798359.7796718148
Maine 2797680.7325225226
Oklahoma 2762710.7172933035
Louisiana 2701909.7841328722
Kentucky 2679925.416660768
West Virginia 2603361.5380906137
Mississippi 2559771.5568597172
Wisconsin 2349462.1626351806
Minnesota 2246094.032171723
Kansas 2158393.2808157695
Montana 2000906.3399293518
Iowa 1825169.3080375448
Nebraska 1658744.89784282
Wyoming 1571785.8978326896
Alaska 1544502.627170937
South Dakota 1504512.3844522203
North Dakota 1202177.673707368

In [59]:
# Observing the DC census rows.
# When we originally included DC as a "state", it heavily influenced the ranking due to its low population and area causing an extreme ratio, which may be misinterpreted, so we eventually chose to discount it.

spec_gen_states_census[spec_gen_states_census['NAME'] == 'District of Columbia']

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,AGE,ESTBASE2010_CIV,POPEST2010_CIV,POPEST2011_CIV,POPEST2012_CIV,POPEST2013_CIV,POPEST2014_CIV,POPEST2015_CIV,POPEST2016_CIV,POPEST2017_CIV,POPEST2018_CIV,POPEST2019_CIV
2436,40,3,5,11,District of Columbia,1,0,3642,3872,4835,4702,4947,4877,4869,5007,5007,4925,4878
2437,40,3,5,11,District of Columbia,1,1,3391,3415,3723,4655,4515,4739,4515,4605,4821,4732,4755
2438,40,3,5,11,District of Columbia,1,2,3373,3369,3406,3663,4504,4366,4594,4322,4419,4653,4615
2439,40,3,5,11,District of Columbia,1,3,3208,3225,3292,3430,3617,4363,4339,4484,4277,4342,4543
2440,40,3,5,11,District of Columbia,1,4,2919,2970,3235,3319,3428,3614,4333,4286,4456,4192,4301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,40,3,5,11,District of Columbia,2,81,1295,1287,1299,1172,1178,1209,1194,1202,1256,1244,1235
2605,40,3,5,11,District of Columbia,2,82,1184,1201,1250,1232,1119,1145,1164,1161,1149,1191,1190
2606,40,3,5,11,District of Columbia,2,83,1186,1178,1141,1223,1188,1080,1125,1118,1111,1105,1161
2607,40,3,5,11,District of Columbia,2,84,1135,1123,1087,1035,1115,1067,989,1017,1030,1025,1013
2608,40,3,5,11,District of Columbia,2,85,7198,7271,7434,7594,7689,7859,8001,8006,8004,8079,8138

In [60]:
# Printing the state facility counts in a certain format for easier infographic creation.

for statecnt in sorted_statescnts:
    print(statecnt[0] + ',' + str(statecnt[1]))

CA,761
FL,628
TX,574
NY,550
PA,343
IL,335
OH,333
GA,277
MI,271
NC,270
NJ,247
WI,215
MN,210
VA,205
TN,192
IN,179
AZ,171
MO,159
MA,155
WA,149
IA,145
LA,145
KY,144
AL,142
CO,138
MD,132
OK,116
CT,114
SC,110
KS,109
OR,108
MS,99
NE,93
AR,83
NV,69
WV,64
UT,64
ID,49
SD,48
ME,48
ND,48
MT,47
NM,46
NH,44
HI,37
RI,34
AK,33
DE,30
WY,30
VT,15

In [61]:
import math

In [62]:
# Computing which length-54 interval each state facility count fall into, for easier infographic creation.

for statecnt in sorted_statescnts:
    cnt = 1
    for i in range(741, 0, -54):
        if abs(statecnt[1] - i) <= 54/2:
            print(statecnt[1], cnt)
            break
        cnt += 1
    continue

761 1
628 3
574 4
550 5
343 8
335 9
333 9
277 10
271 10
270 10
247 10
215 11
210 11
205 11
192 11
179 11
171 12
159 12
155 12
149 12
145 12
145 12
144 12
142 12
138 12
132 12
116 13
114 13
110 13
109 13
108 13
99 13
93 13
83 13
69 13
64 14
64 14
49 14
48 14
48 14
48 14
47 14
46 14
44 14
37 14
34 14
33 14
30 14
30 14
15 14

In [63]:
# Printing the state facility counts (and column headers) in a certain format for easier infographic creation.

print('State, Number of Certified Mammogram Facilities')
for statecnt in sorted_statescnts:
    print(statecnt[0] + ',' + str(statecnt[1]))

State, Number of Certified Mammogram Facilities
CA,761
FL,628
TX,574
NY,550
PA,343
IL,335
OH,333
GA,277
MI,271
NC,270
NJ,247
WI,215
MN,210
VA,205
TN,192
IN,179
AZ,171
MO,159
MA,155
WA,149
IA,145
LA,145
KY,144
AL,142
CO,138
MD,132
OK,116
CT,114
SC,110
KS,109
OR,108
MS,99
NE,93
AR,83
NV,69
WV,64
UT,64
ID,49
SD,48
ME,48
ND,48
MT,47
NM,46
NH,44
HI,37
RI,34
AK,33
DE,30
WY,30
VT,15

In [64]:
# Printing 2023 predicted population of males of a state to find how many linear regressions are computed (to display in presentation).

print(male_state_age_year_bfe['Alabama']) # NOTE ADDED ['Alabama'] POST-COMPETITION TO AVOID LONG OUTPUT FOR GITHUB.

{0: 28988.9694980695, 1: 29355.352509652508, 2: 29149.115444015442, 3: 29143.91853281853, 4: 29451.932046332044, 5: 29516.67297297297, 6: 29747.648262548264, 7: 30447.1166023166, 8: 30839.414285714283, 9: 30223.691505791507, 10: 30374.302316602316, 11: 30869.340154440153, 12: 30575.311196911192, 13: 30582.823166023165, 14: 30992.650965250967, 15: 31030.979150579144, 16: 30936.008494208498, 17: 31028.16293436294, 18: 29519.45250965251, 19: 28756.17953667954, 20: 28478.45637065637, 21: 30281.076447876447, 22: 32244.320849420852, 23: 34282.8833976834, 24: 35616.34594594594, 25: 36043.1833976834, 26: 36463.9166023166, 27: 35546.237451737456, 28: 34591.00617760618, 29: 32276.390347490345, 30: 29831.01428571429, 31: 29530.154826254828, 32: 29161.865637065635, 33: 29457.250965250965, 34: 30104.405791505786, 35: 29463.702702702703, 36: 30079.598069498068, 37: 29550.747876447873, 38: 28209.464864864865, 39: 26333.972586872587, 40: 24802.505791505795, 41: 25665.615830115832, 42: 26268.64517374517, 43: 26992.427027027028, 44: 27839.052123552123, 45: 27063.704633204634, 46: 27742.358301158303, 47: 28442.51467181467, 48: 28174.38030888031, 49: 27344.96447876448, 50: 26385.606563706562, 51: 27699.03590733591, 52: 28941.17413127413, 53: 30290.532432432436, 54: 32009.08725868726, 55: 32688.756756756757, 56: 33391.77297297297, 57: 34043.25984555984, 58: 34270.109266409265, 59: 34524.3359073359, 60: 33324.36138996139, 61: 32758.45212355212, 62: 31441.000386100386, 63: 29572.305405405405, 64: 31212.385714285716, 65: 30328.445173745175, 66: 29488.74903474903, 67: 28389.67142857143, 68: 28359.970656370657, 69: 27778.456756756757, 70: 26724.074517374516, 71: 25078.669498069496, 72: 22761.40308880309, 73: 19324.09575289575, 74: 18519.842857142856, 75: 17257.723552123553, 76: 16207.135907335907, 77: 14105.674517374518, 78: 12745.002316602317, 79: 11779.54555984556, 80: 10507.946718146719, 81: 9626.515057915058, 82: 8502.315057915057, 83: 7692.507722007721, 84: 6841.656756756756, 85: 34689.947104247105}

In [65]:
# 50 states.

print(len(male_state_age_year_bfe))

50

In [66]:
# 86 linear regressions for males in Alabama.

print(len(male_state_age_year_bfe['Alabama']))

86

In [67]:
# We find the total number of linear regressions done are 8600.

50 * 86 * 2

8600

In [68]:
# Printing historical population census data of 40-yr-old females in Texas to potentially use as a plot example in competition presentation.
# But this historical trend isn't changing by a consistent amount, so it would be a bad example of linear extrapolation.

print(female_state_age_year['Texas'][40])

[182162, 183237, 186015, 181281, 177329, 176982, 183039, 181201, 185816, 187011, 191719]

In [69]:
# Printing historical population census data of 30-yr-old females in Texas to use as a plot example in competition presentation.
# It has a more linear trend, so this would be a good example to have in presentation for linear extrapolation.

l = [0, 0.25, 1.25, 2.25, 3.25, 4.25, 5.25, 6.25, 7.25, 8.25, 9.25]
for i in range(len(female_state_age_year['Texas'][30])):
    print(str(female_state_age_year['Texas'][30][i]))

184510
186407
186270
189535
191007
190952
199527
199953
200959
202718
208535

In [70]:
# Printing 2023 predicted population of 30-yr-old females in Alabama to use as an extrapolation example in competition presentation.

print(female_state_age_year_bfe['Texas'][30])

215144.18030888028

In [71]:
print(est_pop_2023_asg(female_state_age_year['Texas'][30]))

215144.18030888028

In [72]:
# Printing best-fit line parameters for population of 30-yr-old females in Alabama to use as a plot example in competition presentation.

print(best_fit_line([0, 0.25, 1.25, 2.25, 3.25, 4.25, 5.25, 6.25, 7.25, 8.25, 9.25], female_state_age_year['Texas'][30]))

(2438.953998896856, 184047.51682294538)

In [73]:
# Printing cancer risk metrics by state to be used for create an infographic.

for staterisk in sorted_states_by_risk:
    print(staterisk[1])

3216575051.192279
2196551463.4560614
2128192541.2724326
1718845700.903398
1164279033.456101
1073187717.3226255
1023612401.4497296
935068523.3487644
882600458.0526258
881240537.1656371
788790433.9836293
758495347.219865
635117961.6374518
633741689.0062548
618275541.056448
595668587.4161005
560356321.8452511
559511356.4698648
531852730.5913128
505134364.9665638
477372204.67135155
471679746.7560618
464191378.7937066
435647898.279498
391776918.6992665
385909259.9991506
373611720.3438225
325475624.16934365
320474443.2060232
264649549.66544402
258908331.96826246
257563211.9943629
253417384.129112
235264867.60891888
207940469.88482627
180486326.18054047
166615138.43779927
154263275.49938226
143798938.8534363
134288675.16108108
128891712.34606178
126523997.36482626
95144232.50884171
94042597.97667953
93831647.56254825
72216594.45370658
58956634.70837837
57704528.337953664
50968586.696640916
47153576.93498069

In [74]:
# Printing risk-facility ratio by state to be used for create an infographic.

for stateratio in sorted_states_by_risk_fac_ratio:
    print(stateratio[1])

4339747.315194105
4253299.926216475
4238722.397498976
4226774.048872903
3988874.4584286967
3930442.313891891
3923615.7865334884
3826744.7098537656
3752294.6662067026
3714140.1265348056
3699977.303511536
3463216.753143572
3459367.7809613193
3419567.496346656
3394399.5144492737
3388841.626229988
3363705.6434326563
3344985.726989389
3251810.1002422036
3249069.8419504105
3203545.424843658
3193483.5383952605
3186283.242067241
3130482.244945537
3127721.585418275
3125174.001642542
3103171.228847746
3102440.559458857
3073911.1154646534
3067942.9456302673
2934672.2214987
2929357.0987741314
2855049.334818804
2798359.7796718148
2797680.7325225226
2762710.7172933035
2701909.7841328722
2679925.416660768
2603361.5380906137
2559771.5568597172
2349462.1626351806
2246094.032171723
2158393.2808157695
2000906.3399293518
1825169.3080375448
1658744.89784282
1571785.8978326896
1544502.627170937
1504512.3844522203
1202177.673707368